.ranking-history-image {
  width: 50%; /* Adjusted from 50% to make the image use full container width */
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 20px auto; /* Added margin for spacing around the image */
}

h2 {
  text-align: center;
  color: #333333;
  font-size: 16px; /* Example font size */
  margin-bottom: 10px; /* Space between the title and the image */
}
